#image-container img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.selected {
    border: 3px solid #ff9900; /* 주황색 테두리 */
    opacity: 0.7; /* 이미지를 약간 투명하게 */
}

/* 추가적인 스타일링 */
